# Database Configuration
POSTGRES_USER=blogsphere
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=blogsphere_db
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
DATABASE_URL=postgres://blogsphere:your_secure_password_here@localhost:5432/blogsphere_db?sslmode=disable

# Databse Pool Configuration
DB_MAX_OPEN_CONNS=30
DB_MAX_IDLE_CONNS=30
DB_MAX_IDLE_TIME=15m

# Server Configuration
ADDR=:8080

# google oauth
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REDIRECT_URI=http://localhost:5173/auth/google/callback

# JWT Configuration
JWT_SECRET=your_jwt_secret_here
ACCESS_TOKEN_EXPIRE_MINUTES=1440
REFRESH_TOKEN_EXPIRE_MINUTES=10080

# Cookie Configuration
Secure=false

# CORS Configuration
CORS_ALLOWED_ORIGIN=http://localhost:5173

# mailersend configuration
MAILERSEND_API_KEY=your_mailersend_api_key_here
FROM_EMAIL=from_email_address_here
