name: remote ssh command
on:
  push:
    branches:
      - main
jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    steps:
      - name: Execute remote SSH commands using SSH key
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            # Navigate to the project directory
            cd /home/naveen/BlogSphere

            # Pull latest code from Git
            git pull

            # Stop and remove old containers
            docker compose -f docker-compose.prod.yml down

            # Rebuild and restart containers
            docker compose -f docker-compose.prod.yml --env-file ./backend/.env.prod up -d --build

            # Clean up unused images and containers
            docker image prune -f
            docker container prune -f
